services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: room_go_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - soa-net
    restart: always

  consul-server:
    image: hashicorp/consul:1.18
    container_name: consul-server
    command: "agent -server -bootstrap-expect=1 -ui -bind=0.0.0.0 -client=0.0.0.0"
    ports:
      - "8500:8500"   # Web UI
      - "8600:8600/udp"
    volumes:
      - consul-data:/consul/data
    networks:
      - soa-net
    restart: always

  user-management-service:
    build:
      context: ./user-management-service
      dockerfile: Dockerfile
    container_name: user-management-service
    depends_on:
      - postgres
      - consul-server
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_CLOUD_CONSUL_HOST: consul-server
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_APPLICATION_NAME: user-management-service
    networks:
      - soa-net
    restart: always

#  room-management-service:
#    build:
#      context: ./room-management-service
#      dockerfile: Dockerfile
#    container_name: room-management-service
#    depends_on:
#      - postgres
#      - consul-server
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: password
#      SPRING_CLOUD_CONSUL_HOST: consul-server
#      SPRING_CLOUD_CONSUL_PORT: 8500
#      SPRING_APPLICATION_NAME: room-management-service
#    networks:
#      - soa-net
#    restart: always
#
#  communication-service:
#    build:
#      context: ./communication-service
#      dockerfile: Dockerfile
#    container_name: communication-service
#    depends_on:
#      - postgres
#      - consul-server
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: password
#      SPRING_CLOUD_CONSUL_HOST: consul-server
#      SPRING_CLOUD_CONSUL_PORT: 8500
#      SPRING_APPLICATION_NAME: communication-service
#    networks:
#      - soa-net
#    restart: always

  esb-camel:
    build:
      context: ./esb-camel
      dockerfile: Dockerfile
    container_name: esb-camel
    ports:
      - "8080:8080"
    depends_on:
      #- communication-service
      - user-management-service
      #- room-management-service
      - consul-server
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul-server
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_APPLICATION_NAME: esb-camel
    networks:
      - soa-net
    restart: always

networks:
  soa-net:
    driver: bridge

volumes:
  postgres-data:
  consul-data:
