services:
  eureka-server:
    build:
      context: ./eureka-server
      dockerfile: Dockerfile
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - soa-net
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  postgres:
    image: postgres:15
    container_name: roomgo-postgres
    environment:
      POSTGRES_DB: room_go_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - soa-net
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  user-management-service:
    build:
      context: ./user-management-service
      dockerfile: Dockerfile
    container_name: user-management-service
    depends_on:
      - postgres
      - eureka-server
    ports:
      - "8081:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_APPLICATION_NAME: user-management-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - soa-net
    restart: always


  #  room-management-service:
#    build:
#      context: ./room-management-service
#      dockerfile: Dockerfile
#    container_name: room-management-service
#    depends_on:
#      - postgres
#      - eureka-server
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: password
#      SPRING_APPLICATION_NAME: room-management-service
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#    ports:
#      - "8082:8080"
#    networks:
#      - soa-net
#    restart: always
#
#  communication-service:
#    build:
#      context: ./communication-service
#      dockerfile: Dockerfile
#    container_name: communication-service
#    depends_on:
#      - postgres
#      - eureka-server
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/room_go_db
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: password
#      SPRING_APPLICATION_NAME: communication-service
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#    ports:
#      - "8083:8080"
#    networks:
#      - soa-net
#    restart: always

  esb-camel:
    build:
      context: ./esb-camel
      dockerfile: Dockerfile
    container_name: esb-camel
    depends_on:
      eureka-server:
        condition: service_healthy
      user-management-service:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_NAME: esb-camel
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
    networks:
      - soa-net
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

networks:
  soa-net:
    driver: bridge

volumes:
  postgres-data:
