server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json

spring:
  application:
    name: user-management-service
  profiles:
    active: @spring.profiles.active@
  cloud:
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul-server}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${server.port}
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
    compression:
      enabled: true
      mime-types: application/json,application/xml,text/html,text/xml,text/plain,multipart/form-data


management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

cloudinary:
  cloud-name:
  api-key:
  api-secret:


logging:
  level:
    root: INFO
    com.example.usermanagementservice: DEBUG
    org.springframework.web: DEBUG
    org.apache.coyote.http11: DEBUG


