server:
  port: 8080 # Changed from 8080 to avoid conflict with ESB-Camel
  compression:
    enabled: true
    mime-types: application/json

spring:
  application:
    name: user-management-service
  profiles:
    active: @spring.profiles.active@

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    metadata-map:
      management.port: ${server.port}
      instanceId: ${spring.application.name}:${server.port}
